@use "../base/variables";
@use "../base/mixins";


.search-container
{
    display: none;
}

@media (min-width: 765px) {
    .search-container {
      display: flex;
      padding-left: 4rem;
      input[type=search] {
        width: 21rem;
      }
    }
  }
  @media (min-width: 992px) {
    .search-container {
      display: flex;
  
      padding-left: 9rem;
      input[type=search] {
        width: 27.9rem;
      }
    }
  }

  .container1{
    @include mixins.positioning(space-evenly,end);
    gap:1rem;
  }


  .icon-container{
    background-color: variables.$bgcolorSecondary;
    padding: 1rem;
    border-radius: 4px;
  }

  .img-container{
    display: flex;
  }

.button-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
}

.row-container{
  margin-bottom: 1rem;
  border-width: 0.1rem;
  border-color: variables.$colorBW-shade4;
  border-radius: 1rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
}

.input-container{
  padding-bottom: 2.5rem;
  color: variables.$colorBW-shade2;
  &:focus-within label{
      color: black;
  }
}





