.progress-wrapper{
    border: transparent;
    background-color: #EDEDF6;
    width: auto;
    border-radius: 10px;

}

.progress-content{
    width: 30%;
    height: 10px;
    background-color: #126C9C;
    border-radius: 10px;
}


