<header class="container-fluid d-flex align-items-center ">
        <div class="font-style--6 font-weight--bold">
            <span class="color--primary">Ticket </span> Management <br> System
        </div>
        <div class="search-container">
            <app-search-bar></app-search-bar>
        </div>

        <div class="container1 ms-auto">
            <div class="icon-container">
                <span>
                    <i notif-no="1" class="position-relative icon-size bi bi-chat-left-dots notif-info"></i>
                </span>
            </div>
            <div class="icon-container">
                <span>
                    <i class="icon-size bi bi-bell"></i>
                </span>
            </div>

        <img src="../../../../assets/images/stefan-stefancik-QXevDflbl8A-unsplash.jpg" class="image">
        <div class="d-flex flex-column">    
            <div class="font-style--3 font-weight--bold mb-1">Profile</div>
            <div class="font-style--4 ">Admin</div>
        </div> 
        </div>    
</header>

