<div class="ps-5 pt-5 pe-5">
<!-- <p class="font-style--4 font-weight--light">Home /<span class="color--primary"> Assigned ticket </span></p> -->
<app-breadcrumb></app-breadcrumb>  
<div class="d-flex justify-content-between">
    <p class="font-style--3 font-weight--bold">Thaili Development System</p>
    <div class="d-flex font-style--4">
      <span class="table-view">
        <i class="bi bi-clipboard-minus"></i>
        <span class="ps-2">Board</span>
      </span>
      <span class="ms-5 table-view">
        <i class="bi bi-list-task"></i>
        <span class="ps-2">List</span>
      </span>
      <span class="ms-5 table-view">
        <i class="bi bi-table"></i>
        <span class="ps-2">View</span>
      </span>
    </div>
  </div>
  <div class="d-flex justify-content-between pt-4">
    <div *ngFor="let details of list">
      <div class="font-style--3 font-weight--bold ps-4">
        {{ details.number }}
      </div>
      <div>
        <span
          [ngClass]="['circle--' + details.name]"
          class="d-inline-block"></span>
        <span class="font-style--4 font-weight--semi-light ps-2">
            {{details.name}}
        </span>
      </div>
    </div>
  </div>
</div>
