.button-reset{
    border: transparent;
    background: transparent;
}

.input-reset{
    width: 100%;
    outline: transparent;
    border: transparent;
    :hover{
        outline: transparent;
    }
}